.content {
  background-color: white;
  min-height: 700px;
  padding: 20px;
  margin-top: 30px;
}

.container {
  nav {
    background-color: #1a1a1a;
    color: #efefef;

    li {
      cursor: pointer;
    }
  }
}

.logo img {
  max-width: 400px;
  width: auto;
  height: auto;
}

.contact-info {
  padding: 20px 80px;
  font-size: .9rem;
}

.link-icons {
  .icon {
    margin-left: 5px;
    cursor: pointer;
  }

  .icon:first-child {
    margin-left: 0;
  }

  img {
    width: 30px;
  }

}

.collapsed-button-label {
  font-size: .9rem;
}

@media screen and (max-width: 768px) {
  .logo-header {
    display: block;
    text-align: center;
  }

  .child {
    display: block;
  }

  .contact {
    margin: 10px;
  }
}

@media screen and (min-width: 768px) {
  .logo-header {
    display: flex;
    justify-content: space-between;

    .contact {
      margin: auto;
    }
  }

}
