<div>
  <form class="m-5"
        [formGroup]="formModel"
        autocomplete="off"
        (submit)="onSubmit()">
    <div class="form-group">
      <label>Название</label>
      <input class="form-control" type="text" formControlName="title">
    </div>
    <div class="form-group">
      <label>Файлы</label>
      <input type="file"
             class="form-control"
             multiple
             (change)="onFilesChange($event)">
    </div>
    <div class="form-group">
      <label>Цена</label>
      <input class="form-control" type="number" formControlName="price">
    </div>
    <div class="form-group">
      <label>Категория</label>
      <select formControlName="category" class="form-control">
        <option *ngFor="let category of formCategories" [value]="category">{{ category }}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Описание</label>
      <textarea class="form-control" formControlName="description"></textarea>
    </div>
    <div class="form-group">
      <button type="submit">Добавить</button>
    </div>

  </form>
</div>
