<div class="mt-2 mb-2 logo-header">
  <div class="child logo">
    <a routerLink="">
      <img alt="SMK24.NET" src="assets/img/SMK24.png"/>
    </a>
  </div>
  <div class="contact child">
    <div class="contact-info">
        <span>
          Адрес<br/>
          Адрес,<br/>
          Адрес<br/>
        </span>
      <span>
          +7 (000) 000-00-00<br/>
        </span>
      <div class="link-icons">
        <a href="#" target="_blank">
          <span class="icon"><img src="assets/img/instagram.svg" alt="Инстаграм" title="Инстаграм"></span>
        </a>
        <a href="mailto:mail@mail.ru">
          <span class="icon"><img src="assets/img/email.svg" alt="Почта" title="Написать нам"></span>
        </a>
        <a [routerLink]="['/contacts']">
          <span class="icon"><img src="assets/img/location.svg" alt="Карта" title="Показать на карте"></span>
        </a>
      </div>
    </div>
  </div>
</div>
