<nav class="navbar navbar-expand-md navbar-dark rounded-lg mb-5">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#midNavbar"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <div class="d-inline-flex collapsed-button-label">
      <i class="fas fa-bars"></i>
      <div class="ml-2 text-uppercase">Меню</div>
    </div>
  </button>
  <div class="collapse navbar-collapse" id="midNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/products']">Каталог</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/contacts']">Контакты</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" [routerLink]="['/about']">О нас</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="!getFilter()" (click)="changeFilter()">Все товары</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="getFilter() === 'HorizontalBar'" (click)="changeFilter('HorizontalBar')">Турники</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="getFilter() === 'ClimbingFrame'" (click)="changeFilter('ClimbingFrame')">Шведские
          стенки</a>
      </li>
    </ul>
  </div>

</nav>
