@media screen and (max-width: 768px) {
  .category-name {
    text-align: center;
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .category-name {
    margin-left: 20px;
  }
}

.category-name {
  margin-top: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.my-4 {
    margin-top: 15px;
}
